.sidebar_mm {
  position: fixed;
  overflow-y: scroll;
  height: 89.5vh;
  /* text-align: center; */
  margin-right: 25px;
  background-color: rgb(70, 70, 70);
}

.sidebar_mm_height {
  min-height: 95.7vh;
  margin-top: -74px;
}

.widthh {
  width: 15rem;
  background: rgb(70, 70, 70);
}

@media only screen and (max-width: 768px) {
  .widthh {
    width: 10.5rem;
  }
}
.preview  {
  margin-top: 25px;
  border: solid 1px black;
  width: 100%;
}
